@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h1>Random Assortment of Things and Stuff</h1>
        <p>I think im happy with this temp layout...</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="well">Clock - Oslo</div>
    </div>
    <div class="col-md-4">
        <div class="well">Clock - Melbourn</div>
    </div>
    <div class="col-md-4">
        <div class="well">Clock - Alanya</div>
    </div>

    <div class="col-md-3">
        <h4>Entertainment</h4>
        <div class="alert alert-danger">Stuff - YouTube</div>
        <div class="alert alert-danger">Stuff - Netflix</div>
        <div class="alert alert-danger">Stuff - Twitch</div>
        <div class="alert alert-danger">Stuff - Plex</div>
    </div>
    <div class="col-md-3">
        <h4>Social</h4>
        <div class="alert alert-warning">Stuff - Reddit</div>
        <div class="alert alert-warning">Stuff - Gmail</div>
        <div class="alert alert-warning">Stuff - Facebook</div>
        <div class="alert alert-warning">Stuff - Twitter</div>
    </div>
    <div class="col-md-3">
        <h4>Tv related</h4>
        <div class="alert alert-success">Stuff - Trakt.tv</div>
        <div class="alert alert-success">Stuff - EZTV</div>
        <div class="alert alert-success">Stuff - Piratbay</div>
        <div class="alert alert-success">Stuff - IMDb</div>
    </div>
    <div class="col-md-3">
        <h4>Random stuff</h4>
        <div class="alert alert-info">Stuff - Google disk</div>
        <div class="alert alert-info">Stuff - Google claender</div>
        <div class="alert alert-info">Stuff</div>
        <div class="alert alert-info">Stuff</div>
    </div>

</div>