
@{
    ViewData["Title"] = "Temp";
}


<div class="row">
    <div class="col-md-12">
        <h1>Temp list</h1>
        <p>This is temporary</p>
    </div>
    <div class="col-md-4">
        <h2>Frontpage/ home</h2>
        <p>What do i want on the frontpage?</p>
        <div class="list-group">
            <div class="list-group-item list-group-item-info">
                <h4>Links to external sites i use a lot</h4>
                <p>List them here as i come up with them...</p>
                <ul>
                    <li>Youtube</li>
                    <li>Netflix</li>
                    <li>Reddit</li>
                    <li>ect..</li>
                </ul>
            </div>
            <div class="list-group-item list-group-item-info">
                <h4>Clocks from multiple timezones/ Simple timezone convertion tool</h4>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Navbar</h2>
        <p>What do i want in the navbar?</p>
        <div class="list-group">
            <div class="list-group-item list-group-item-success">
                <h4>Home</h4>
            </div>
            <div class="list-group-item list-group-item-success">
                <h4>DnD</h4>
                <ul>
                    <li>Overview</li>
                    <li>Campaigns</li>
                    <li>Maps</li>
                </ul>
            </div>
            <div class="list-group-item list-group-item-success">
                <h4>MTG</h4>
                <ul>
                    <li>Overview</li>
                    <li>Decks</li>
                    <li>Collection</li>
                </ul>
            </div>
            <div class="list-group-item list-group-item-warning">
                <h4>Other</h4>
                <ul>
                    <li>Overview</li>
                    <li>Notes</li>
                    <li>World</li>

                </ul>
            </div>
            <div class="list-group-item list-group-item-success">
                <h4>About</h4>

            </div>
        </div>
    </div>

    <div class="col-md-4">
        <h2>Pages</h2>
        <p>What pages do i want and what are their functions?</p>

        <div class="list-group">
            <div class="list-group-item list-group-item-info">
                <h4>Home</h4>
                <p>The main page.</p>
            </div>

            <div class="list-group-item list-group-item-warning">
                <h4>DnD</h4>
                <p>General DnD stuff and ideas. List of campaigns/ worlds. Worldbuilding.</p>

            </div>
            <div class="list-group-item list-group-item-warning">
                <h4>MTG</h4>
                <p>General MTG stuff, decks and collection overview.</p>

            </div>
            <div class="list-group-item list-group-item-info">
                <h4>About</h4>
                <p>Info about me and links to my stuff. Map of the places i have been and where i want to go.</p>
            </div>
            <div class="list-group-item list-group-item-info">
                <h4>Notes</h4>
                <p>General notes that i dont want to forget. Integration too Keep if possible?</p>
            </div>
            <div class="list-group-item list-group-item-info">
                <h4>World</h4>
                <p>Map of the places i have been and where i want to go.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <h2>External stuff/ Backend</h2>
        <p></p>
        <div class="list-group">
            <div class="list-group-item list-group-item-info">
                <h4>Database</h4>
                <p></p>
            </div>
            <div class="list-group-item list-group-item-info">
                <h4>Login</h4>
                <p></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h2>List example</h2>
        <p>What the colors mean...</p>
        <div class="list-group">
            <div class="list-group-item list-group-item-info">
                <h4>Blue</h4>
                <p>Not started</p>
            </div>
            <div class="list-group-item list-group-item-success">
                <h4>Green</h4>
                <p>Done</p>
            </div>
            <div class="list-group-item list-group-item-warning">
                <h4>Yellow</h4>
                <p>Working on it</p>
            </div>
            <div class="list-group-item list-group-item-danger">
                <h4>Red</h4>
                <p>Not Gonna happen</p>
            </div>
        </div>
    </div>
</div>
